    <!-- Page Footer -->
    <footer class='section' id='footer' role='contentinfo'>
      <div class='container'>
        <div class='row-fluid'>

           <div class='span4'>
            <h3 id="contactme">Contact us</h3>
            <p>
            &nbsp;
            </p>
            <ul class='icons'>
              <li>
                <i class='icon-envelope'></i>
                <a href='mailto:paul@mikadosoftware.com'>Paul Brian</a>
              </li>
            <ul class='icons'>
              <li>
                <i class='icon-envelope'></i>
                <a href='mailto:mark_matten@hotmail.com'>Mark Matten</a>
              </li>

            </ul>
          </div>

                </h4>
              </li>
            </ul>
          </div>


    </footer>
  </body>
  <script src="/assets/javascripts/jquery.min.js" type="text/javascript"></script>
  <script src="/assets/javascripts/bootstrap.js" type="text/javascript"></script>
  <script src="/assets/javascripts/script.js" type="text/javascript"></script>

<!-- Google Tracking code -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36184336-1']);
  _gaq.push(['_setDomainName', 'mikadosoftware.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- /Google Tracking code -->

</html>
