    <!-- Page Header -->




      <nav class='navbar'>
        <div class='navbar-inner'>
          <div class='container'>
            <h1 class='logo'>
              <a href='/'>
              OSS4Gov.org
              </a>
              <small class="text-info">Make Every (Local) Government Digital Service Free and Open.</small>
              </h1>


<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" class="navbar-form pull-right input-append" >
<form action="http://mikadosoftware.us4.list-manage2.com/subscribe/post?u=78f8b8e401e9955dd29df9714&amp;id=d691d3847a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">

		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
</form>
</div>

<!--End mc_embed_signup-->


          </div>
        </div>
      </nav>

