%(header)s
  <body class='theme-pattern-lightmesh'>
  %(pagetop)s

    <!-- Main Content -->
    <div id='content' role='main'>


<section class='section alt'>
  <div class='container'>
    <div class="span1">&nbsp;</div>

    <div class='page-header span10'>

<!-- http://odietamo.readthedocs.org/en/latest/_images/13_1_3.png -->


<p> <a
href="http://www.oracle.com/technetwork/middleware/data-integrator/overview/index.html">Oracle
Data Integrator (ODI)</a> is a vital tool in many Enterprises' Big Data
Strategy. 

<p> However as more Data Warehouse teams move to Agile, they hit a roadblock -
the source code for those routines moving data around are hidden from normal
source control practises, locked away in database tables, not in Subversion or
git.  

<p> ODI-SCM is an Open Source project that gets the source code for your
ODI routines out of the repos, and into your source control.  

<p>There you can branch, merge, and control your code, across multiple
development teams, and never miss a commit.  

<p> Solve the chaos of multiple teams deleting each others work.  Use ODI-SCM.
<p> Read <a href="/source_control_version_control">more</a> or <a href="https://github.com/pmsoftware/odietamo">here</a>

    </div>
      <div class="span1">&nbsp;</div>
  </div>
</section>




    </div>

%(footer)s
