%(header)s
  <body class='theme-pattern-lightmesh'>
  %(pagetop)s

    <!-- Main Content -->
    <div id='content' role='main'>


<section class='section alt'>
  <div class='container'>
    <div class="span1">&nbsp;</div>

    <div class='page-header span10'>


  
        <p>Mikado Software is an experiment in working for the future. 
           Our current working lives and structures are becoming stretched to breaking point, and we need to finding new ways of working - ways that do not sacrifice our family lives to the commute, that respect the need to learn and
           research throughout a working life, and that create lasting value - software is a capital investment for a society, not a quick route to equity riches. 
        <p><a
        href="http://online.wsj.com/article/SB10001424053111903480904576512250915629460.html">
        Software really is eating the world</a> and if we 
        do not write the code for our working lives, it will be written for us.

  <p> If you have a complex business or organisation that needs to face the new digital world 
then I am most interested in  <a
  href="campaigns/OSSLG">creating the software</a> that keeps your opportunities open - and doing so openly,
  transparently, and for building a better future.

        <p>My name is Paul Brian, and I am an Open Source Developer, father,
        husband and entrepreneur.  


  <p>If the Mikado idea interests you, perhaps we can <a href="#contactme">talk</a> 


    </div>
      <div class="span1">&nbsp;</div>
  </div>
</section>

<!-- Thumbnail start -->
%(thumbnails)s
<!-- Thumbnail end -->


    </div>

%(footer)s
