%(header)s
  <body>
  %(pagetop)s

    <!-- Main Content -->
    <div id='content' role='main'>


<section class='section'>
  <div class='container'>
    <div class="span1">&nbsp;</div>
     <div class='page-header span10'>

%(page_html_body)s

    </div>
  </div>
    <div class="span1">&nbsp;</div>
</section>

<!-- Thumbnail start -->
%(thumbnails)s
<!-- Thumbnail end -->


    </div>

%(footer)s
