%(header)s
  <body class='theme-pattern-lightmesh'>
  %(pagetop)s

    <!-- Main Content -->
    <div id='content' role='main'>


<section class='section alt'>
  <div class='container'>
    <div class="span1">&nbsp;</div>

    <div class='page-header span10'>


  
        <p>Mikado Software is an experiment in working for the future. 
           Our current working lives and structures are becoming stretched to breaking point, and we need to finding new ways of working - ways that do not sacrifice our family lives to the commute, that respect the need to learn and
           research throughout a working life, and that create lasting value - software is a capital investment for a society, not a quick route to equity riches. 
        <p><a
        href="http://online.wsj.com/article/SB10001424053111903480904576512250915629460.html">
        Software really is eating the world</a> and if we 
        do not write the code for our working lives, it will be written for us.

  <p> If you have a complex business or organisation that needs to face the new digital world 
then I am most interested in  <a
  href="campaigns/OSSLG">creating the software</a> that keeps your opportunities open - and doing so openly,
  transparently, and for building a better future.

        <p>My name is Paul Brian, and I am an Open Source Developer, father,
        husband and entrepreneur.  


  <p>If the Mikado idea interests you, perhaps we can <a href="#contactme">talk</a> 


    </div>
      <div class="span1">&nbsp;</div>
  </div>
</section>

<section class='section'>
  <div class='container'>
    <ul class='thumbnails bordered thumbnail-list'>

      <li class='span3'>
        <a href='/campaigns/index'>
          <figure class='thumbnail-figure'>
            <img src="http://farm7.staticflickr.com/6093/6278918225_cd25595063_n.jpg" width="320" height="213">
              <figcaption class='thumbnail-title'>
                <h3>
                  <span>Campaigns</span>
                </h3>
              </figcaption>

          </figure>
        </a>
        <p>
        Change the world.  Or at least a little bit of it.
        </p>
      </li>

      <li class='span3'>
        <a href='/projects/index'>
          <figure class='thumbnail-figure'>
            <img src="http://farm3.staticflickr.com/2424/4230176889_0f5921403f_z.jpg" width="320" height="213">
              <figcaption class='thumbnail-title'>
                <h3>
                  <span>Projects</span>
                </h3>
              </figcaption>

          </figure>
        </a>
        <p>
        What I am working on. Sometimes with actual docs.
        </p>
      </li>

      <li class='span3'>
        <a href='/local/index'>
          <figure class='thumbnail-figure'>
            <img alt='' src='/assets/images/assets/test.jpg'>
              <figcaption class='thumbnail-title'>
                <h3>
                  <span>Local Events</span>
                </h3>
              </figcaption>
          </figure>
        </a>
        <p>
        I run a regular lunch/meetup for IT professionals 
        upstairs in a local pub.  Things like that.
        </p>
      </li>

      <li class='span3'>
        <a href='/blog/index'>
          <figure class='thumbnail-figure'>
            <img src="http://farm6.staticflickr.com/5287/5234764246_645a42a290_z.jpg" width="320" height="213">            
              <figcaption class='thumbnail-title'>
                <h3>
                  <span>Blog</span>
                </h3>
              </figcaption>
          </figure>
        </a>
        <p>
        Powered by txt files.
        </p>
      </li>



    </ul>
  </div>
</section>

    </div>

%(footer)s
