%(header)s
  <body>
  %(pagetop)s

    <!-- Main Content -->
    <div id='content' role='main'>


<section class='row'>

    <div class="span1">&nbsp;</div>

    <div class='span7'>


<!-- Begin Text -->  

<h2>Continuous Delivery in the Enterprise <i>is</i> hard.  Really hard.</h2>

<h3>But not impossible. Find out how.</h3>

<p>The ability to take one tiny change and smoothly push it out 
across the whole complex mesh of systems in a large company is 
a nirvana - but it is one within reach and this book and accompanying
interviews and workshops can show you how to get there.

    </div>    
    <div class='span4'>
      <img class="img-thumbnail" 
          src="assets/images/finalCover_ECD_small.jpg"
          width="300"
      />
    </div>
<!-- end Text -->  
 </div> 
  </section>

<section class="row">
<div class="span4">&nbsp;</div>
<div class="span4">

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://mikadosoftware.us4.list-manage1.com/subscribe/post?u=78f8b8e401e9955dd29df9714&amp;id=07d64ed307" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    
<div class="mc-field-group">
    <label for="mce-EMAIL">Email Address </label>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_78f8b8e401e9955dd29df9714_07d64ed307" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
</div>
<div class="span4">&nbsp;</div>

</section>
    </div>

%(footer)s
