    <!-- Page Footer -->
    <footer class='section' id='footer' role='contentinfo'>
      <div class='container'>
        <div class='row-fluid'>

           <div class='span4'>
            <h3 id="contactme">Contact me</h3>
            <p>
            &nbsp;
            </p>
            <ul class='icons'>
              <li>
                <i class='icon-envelope'></i>
                <a href='mailto:paul@mikadosoftware.com'>Paul Brian</a>
              </li>

              <li>
                <i class='icon-phone'></i>
                <a>07540 456 115 / 0207 617 7971</a>
              </li>

              <li>
                <i class='icon-twitter'></i>
                <a>@lifeisstillgood</a>
              </li>

            </ul>
          </div>

                </h4>
              </li>
            </ul>
          </div>

        <div class="span4">
License:
   <a rel="license"
   href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_GB">
   <img alt="Creative Commons Licence"
        style="border-width:0"
        src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" />
   </a>
        </div>
        </div>
      </div>



    </footer>
  </body>
  <script src="/assets/javascripts/jquery.min.js" type="text/javascript"></script>
  <script src="/assets/javascripts/bootstrap.js" type="text/javascript"></script>
  <script src="/assets/javascripts/script.js" type="text/javascript"></script>

<!-- Google Tracking code -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36184336-1']);
  _gaq.push(['_setDomainName', 'mikadosoftware.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- /Google Tracking code -->

</html>
