<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>%(page_title)s</title>
    <!-- the page_* is to namespace pageobject data inside the chunks list -->
    <meta content='MikadoSoftware | %(page_subtitle)s' name='description' />
    <meta content='width=device-width' name='viewport' />
    <!--[if lt IE 9]>
      <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
    <![endif]-->
    <link href='/assets/favicon.ico' rel='shortcut icon' />
    <link href='/assets/images/apple-touch-icon-144-precomposed.png' rel='apple-touch-icon-precomposed' sizes='144x144' />
    <link href='/assets/images/apple-touch-icon-114-precomposed.png' rel='apple-touch-icon-precomposed' sizes='114x114' />
    <link href='/assets/images/apple-touch-icon-72-precomposed.png' rel='apple-touch-icon-precomposed' sizes='72x72' />
    <link href='/assets/images/apple-touch-icon-57-precomposed.png' rel='apple-touch-icon-precomposed' />

    <!-- STYLESHEETS -->
    <link href="/assets/stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/stylesheets/responsive.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/stylesheets/font-awesome.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/stylesheets/theme.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/stylesheets/fonts.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/stylesheets/mikado.css" media="screen" rel="stylesheet" type="text/css" />

    <!-- Google verification -->
    <meta name="google-site-verification" content="uKNzO9CmffmocPVazVVI-nzcAlH5aWrkRDRHgpxE2Ls" />
</head>
