    <!-- Page Header -->

      <nav class='navbar'>
        <div class='navbar-inner'>
          <div class='container'>

            <h1 class='brand'>
              <a href='/'>
                <img src="/assets/images/mikado_logo_trans_small.png" 
                     alt="Mikado Software Ltd" />
              </a>
            </h1>

            <div class='nav'>
              <ul class='nav'>
                <li>
                  <a href="#">Serious Business Software And Work-Life Balance.
                  </a>
                </li>
              </ul>

            <div class='nav'>
            <ul class='nav pull-right'>
            <li>
              <form style="margin:5px;"
               action="http://mikadosoftware.us4.list-manage2.com/subscribe/post?u=78f8b8e401e9955dd29df9714&amp;id=6019d99469"
               method="post" class="form-inline form-search" target="_blank" novalidate >
   
               <div class="input-append">

                <input class="input" value="email@example.com" id="mce-EMAIL" type="email" size="30" name="EMAIL" />
                <button class="btn" type="submit" style="margin: 0px;">How I Escaped</button>
              </div>
             </form> 
            </li>
            </ul>
            </div> 


            </div>

            </div>         
        </div>
      </nav>
           
            <a href="/contents">Contents</a> | <a href="/articles/the_break">Why Mikado Is like it is</a> 

