    <!-- Page Header -->

      <nav class='navbar'>
        <div class='navbar-inner'>
          <div class='container'>
            <h1 class='brand'>
              <a href='/'>
                <img src="/assets/images/mikado_logo_trans_small.png" />
              </a>
            </h1>
<!--           <form class="navbar-form pull-right">
            <input type="text" class="span2">
            <button type="submit" class="btn">Submit</button>
           </form> -->
            <div class='nav-collapse'>
              <ul class='nav pull-right'>
                <li class=''><a href="#">Open Source Software for Complex Businesses.</a></li>
              </ul>

            </div>
          </div>
        </div>
      </nav>
