
<section class='section'>
  <div class='container'>
    <ul class='thumbnails bordered thumbnail-list'>


      <li class='span3'>

        <a href='/services/index'>
          <figure class='thumbnail-figure'>
            <img src="/assets/images/services.jpg" width="320" height="213" alt="original from http://www.flickr.com/photos/whiskeytango/3063814537/">
              <figcaption class='thumbnail-title'>
                <h3>
                  <span>Services</span>
                </h3>
              </figcaption>
          </figure>
        </a>
        <p>
        Services offered
        </p>
      </li>


      <li class='span3'>
        <a href='/projects/index'>
          <figure class='thumbnail-figure'>
            <img src="http://farm3.staticflickr.com/2424/4230176889_0f5921403f_m.jpg"  width="320" height="213" >
              <figcaption class='thumbnail-title'>
                <h3>
                  <span>Projects</span>
                </h3>
              </figcaption>

          </figure>
        </a>
        <p>
        Open Source work.
        </p>
      </li>

      <li class='span3'>
        <a href='/local/index'>
          <figure class='thumbnail-figure'>
            <img alt=''  width="320" height="213"  src='/assets/images/test.jpg'>
              <figcaption class='thumbnail-title'>
                <h3>
                  <span>Local Events</span>
                </h3>
              </figcaption>
          </figure>
        </a>
        <p>
        I run a regular lunch/meetup for IT professionals 
        upstairs in a local pub.  Things like that.
        </p>
      </li>

      <li class='span3'>
        <a href='/blog/index'>
          <figure class='thumbnail-figure'>
            <img src="http://farm6.staticflickr.com/5287/5234764246_645a42a290_n.jpg"  width="320" height="213" >            
              <figcaption class='thumbnail-title'>
                <h3>
                  <span>Articles & Interviews</span>
                </h3>
              </figcaption>
          </figure>
        </a>
        <p>
        Interviews With Interesting People, Articles on important things.
        </p>
      </li>


<!--      <li class='span3'>

        <a href='/campaigns/index'>
          <figure class='thumbnail-figure'>
            <img src="http://farm7.staticflickr.com/6093/6278918225_cd25595063_m.jpg"  width="200" height="200" >
              <figcaption class='thumbnail-title'>
                <h3>
                  <span>Campaigns</span>
                </h3>
              </figcaption>

          </figure>
        </a>
        <p>
        Change the world.  Or at least a little bit of it.
        </p>
      </li>

-->

    </ul>
  </div>
</section>
