
<section class='section'>
  <div class='container'>
    <ul class='thumbnails bordered thumbnail-list'>


      <li class='span3'>

        <a href='/fintech/'>
          <figure class='thumbnail-figure'>
            <img src="/assets/images/services.jpg" width="320" height="213" alt="original from http://www.flickr.com/photos/whiskeytango/3063814537/">
              <figcaption class='thumbnail-title'>
                <h3>
                  <span>Fin Tech</span>
                </h3>
              </figcaption>
          </figure>
        </a>
        <p>
        Fin Tech Services
        </p>
      </li>


      <li class='span3'>
        <a href='/govtech/'>
          <figure class='thumbnail-figure'>
            <img src="http://farm3.staticflickr.com/2424/4230176889_0f5921403f_m.jpg"  width="320" height="213" >
              <figcaption class='thumbnail-title'>
                <h3>
                  <span>Gov Tech</span>
                </h3>
              </figcaption>

          </figure>
        </a>
        <p>
        Gov Tech Services.
        </p>
      </li>

      <li class='span3'>
        <a href='/local/'>
          <figure class='thumbnail-figure'>
            <img alt=''  width="320" height="213"  src='/assets/images/test.jpg'>
              <figcaption class='thumbnail-title'>
                <h3>
                  <span>Open Tech</span>
                </h3>
              </figcaption>
          </figure>
        </a>
        <p>
        Open Source Work.
        </p>
      </li>

      <li class='span3'>
        <a href='/articles/'>
          <figure class='thumbnail-figure'>
            <img src="http://farm6.staticflickr.com/5287/5234764246_645a42a290_n.jpg"  width="320" height="213" >
              <figcaption class='thumbnail-title'>
                <h3>
                  <span>Articles & Interviews</span>
                </h3>
              </figcaption>
          </figure>
        </a>
        <p>
        Interviews With Interesting People, Articles on important things.
        </p>
      </li>

    </ul>
  </div>
</section>
