%(header)s
  <body class='theme-pattern-lightmesh'>
  %(pagetop)s

    <!-- Main Content -->
    <div id='content' role='main'>


<section class='section alt'>
  <div class='container'>
    <div class="span1">&nbsp;</div>

    <div class='page-header span10'>


<!-- Begin Text -->  

<p align="center"> Firstly, please see our <a href="/manifesto">Manifesto</a></p>

<p> <a href="/about#ok-so-what-is-this-open-source-software">Free and Open Software</a> runs most of the Internet, but hardly any of our
government.  Because of that, too much of our precious tax money is wasted on
<a href="/about#high-quality-open-source-software">lower quality software</a>.

<p> The <a href="/lgsl">LGSL</a> lists over 2000 services that the UK's local government bodies
are expected to provide everything from Fire Brigade Training to running elections and
protecting the vulnerable.

<p> <a href="/lgsl">Every single one of these services</a> will become fully or partly digital soon -
and our local authorities will end up paying our tax money to companies for
software that is <a href="/about#high-quality-open-source-software">lower quality</a> and more expensive than the alternative - Open
Source Software.

<p>We want to <a href="/pilotprojects">demonstrate that it is possible and desirable</a> for every single
(local) government service to be developed and run on Free and Open software, in ways
compatible with the principles of a democratic society, and a society that wants to
save some money.
<p>

Go <a href="/contents">here</a> to read more.

<!-- end Text -->  
    </div>
      <div class="span1">&nbsp;</div>
  </div>
</section>
    </div>

%(footer)s
