%(header)s
  <body class='theme-pattern-lightmesh'>
  %(pagetop)s

    <!-- Main Content -->
    <div id='content' role='main'>


<section class='section alt'>
  <div class='container'>
    <div class="span1">&nbsp;</div>

    <div class='page-header span10'>


<!-- Begin Text -->  

<p> Free and Open Software runs most of the Internet, but hardly any of our
government.  Because of that, too much of our precious tax money is wasted on
lower quality software.

<p> The *LGSL* lists over 2000 services that the UK's local government bodies
are expected to provide from fire brigade training to running elections and
protecting the vulnerable.

<p>Every single one of these services will become fully or partly digital soon -
and our local authorities will end up paying our tax money to companies for
software that is lower quality, more expensive than the alternative - Open
Source Software.

<p>We want to demonstrate that it is possible and desireable for every single
government service to be developed and run on Free and Open software, in ways
compatible with principles of a democaratic society, and a society that wants to
save some money.

<p> Sign up here


<!-- end Text -->  
    </div>
      <div class="span1">&nbsp;</div>
  </div>
</section>

<section class='section'>
  <div class='container'>
    <ul class='thumbnails bordered thumbnail-list'>

      <li class='span3'>
        <a href='/campaigns/index'>
          <figure class='thumbnail-figure'>
            <img alt='' src='/assets/images/assets/test.jpg'>
              <figcaption class='thumbnail-title'>
                <h3>
                  <span>Campaigns</span>
                </h3>
              </figcaption>
            </img>
          </figure>
        </a>
        <p>
        Change the world.  Or at least a little bit of it.
        </p>
      </li>

      <li class='span3'>
        <a href='/projects/index'>
          <figure class='thumbnail-figure'>
            <img alt='' src='/assets/images/assets/test.jpg'>
              <figcaption class='thumbnail-title'>
                <h3>
                  <span>Projects</span>
                </h3>
              </figcaption>
            </img>
          </figure>
        </a>
        <p>
        What I am working on. Sometimes with actual docs.
        </p>
      </li>

      <li class='span3'>
        <a href='/local/index'>
          <figure class='thumbnail-figure'>
            <img alt='' src='/assets/images/assets/test.jpg'>
              <figcaption class='thumbnail-title'>
                <h3>
                  <span>Local Events</span>
                </h3>
              </figcaption>
            </img>
          </figure>
        </a>
        <p>
        I run a regular lunch/meetup for IT professionals 
        upstairs in a local pub.  Things like that.
        </p>
      </li>

      <li class='span3'>
        <a href='/blog/index'>
          <figure class='thumbnail-figure'>
            <img alt='' src='/assets/images/assets/test.jpg'>
              <figcaption class='thumbnail-title'>
                <h3>
                  <span>Blog</span>
                </h3>
              </figcaption>
            </img>
          </figure>
        </a>
        <p>
        Powered by txt files.
        </p>
      </li>



    </ul>
  </div>
</section>

    </div>

%(footer)s
