
%(HDR)s
  <body class='theme-pattern-lightmesh'>
  %(TOPPAGE)s

    <!-- Main Content -->
    <div id='content' role='main'>


<section class='section alt'>
  <div class='container'>
    <div class="span1">&nbsp;</div>

    <div class='page-header span10'>


        <p>My name is Paul Brian, and I am an Open Source Developer, a father and
        husband and an entrepreneur-almost-by-accident. 
  

        <p>This site is the rather rickety umbrella I am using to cover all
  of the online work I do - from the <a href="https://github.com/Connexions">
  normal "day job"</a> to <a href="/cms/campaigns/index">campaigns</a> to make the
  world a better place, and just <a href="/cms/projects/index">random useful
  projects</a> which I hope someone other than me will find useful.
  
  <p>
  Oh and a <a href="http://blog.mikadosoftware.com">blog</a> of course.

        <p>I believe all sorts of strange things, that <a href="http://online.wsj.com/article/SB10001424053111903480904576512250915629460.html">software is eating the world</a>,
and that <a href="http://www.mikadosoftware.com/talks/presentation.html">software is the new literacy</a>
 - and if I am right then Open Source matters like libraries and schools matter.


  <p> 
  But in the end, what I am most interested in is creating the software that makes complex businesses
  or complex public organisations work - and doing so openly, transparently, and for a (slightly) better future.

  If you like the sound of that perhaps we can <a href="#contactme">talk</a> 


    </div>
      <div class="span1">&nbsp;</div>
  </div>
</section>

<section class='section'>
  <div class='container'>
    <ul class='thumbnails bordered thumbnail-list'>

      <li class='span3'>
        <a href='/cms/campaigns/index'>
          <figure class='thumbnail-figure'>
            <img alt='' src='/static/images/assets/test.jpg'>
              <figcaption class='thumbnail-title'>
                <h3>
                  <span>Campaigns</span>
                </h3>
              </figcaption>
            </img>
          </figure>
        </a>
        <p>
        Change the world.  Or at least a little bit of it.
        </p>
      </li>

      <li class='span3'>
        <a href='/cms/projects/index'>
          <figure class='thumbnail-figure'>
            <img alt='' src='/static/images/assets/test.jpg'>
              <figcaption class='thumbnail-title'>
                <h3>
                  <span>Projects</span>
                </h3>
              </figcaption>
            </img>
          </figure>
        </a>
        <p>
        What I am working on. Sometimes with actual docs.
        </p>
      </li>

      <li class='span3'>
        <a href='/cms/local/index'>
          <figure class='thumbnail-figure'>
            <img alt='' src='/static/images/assets/test.jpg'>
              <figcaption class='thumbnail-title'>
                <h3>
                  <span>Local Events</span>
                </h3>
              </figcaption>
            </img>
          </figure>
        </a>
        <p>
        I run a regular lunch/meetup for IT professionals 
        upstairs in a local pub.  Things like that.
        </p>
      </li>

      <li class='span3'>
        <a href='http://blog.mikadosoftware.com/'>
          <figure class='thumbnail-figure'>
            <img alt='' src='/static/images/assets/test.jpg'>
              <figcaption class='thumbnail-title'>
                <h3>
                  <span>Blog</span>
                </h3>
              </figcaption>
            </img>
          </figure>
        </a>
        <p>
        Powered by txt files.
        </p>
      </li>



    </ul>
  </div>
</section>

    </div>

%(FOOTER)s
