
%(HDR)s
  <body class='theme-pattern-lightmesh'>
  %(TOPPAGE)s

    <!-- Main Content -->
    <div id='content' role='main'>

<section class='section'>
  <div class='container'>
    <div class="span1">&nbsp;</div>

    <div class='page-header span10'>
    %(itemcontent)s
    </div>
      <div class="span1">&nbsp;</div>
  </div>
</section>

<section class='section'>
  <div class='container'>
    <ul class='thumbnails bordered thumbnail-list'>
     
      <li class='span3'>
        <a href='/cms/campaigns/index'>
          <figure class='thumbnail-figure'>
            <img alt='' src='/static/images/assets/test.jpg'>
              <figcaption class='thumbnail-title'>
                  <span><small>Campaigns</small></span>
              </figcaption>
            </img>
          </figure>
        </a>
      </li>

      <li class='span3'>
        <a href='/cms/projects/index'>
          <figure class='thumbnail-figure'>
            <img alt='' src='/static/images/assets/test.jpg'>
              <figcaption class='thumbnail-title'>
                  <span><small>Projects</small></span>
              </figcaption>
            </img>
          </figure>
        </a>
      </li>

      <li class='span3'>
        <a href='/cms/local/index'>
          <figure class='thumbnail-figure'>
            <img alt='' src='/static/images/assets/test.jpg'>
              <figcaption class='thumbnail-title'>
                  <span><small>Local Events</small></span>
              </figcaption>
            </img>
          </figure>
        </a>
      </li>

      <li class='span3'>
        <a href='http://blog.mikadosoftware.com/'>
          <figure class='thumbnail-figure'>
            <img alt='' src='/static/images/assets/test.jpg'>
              <figcaption class='thumbnail-title'>
                  <span><small>Blog</small></span>
              </figcaption>
            </img>
          </figure>
        </a>
      </li>

    </ul>
  </div>
</section>

    </div>

%(FOOTER)s
